/* css styles */

.code-with-copy .sourceCode {
  font-size: 0.8em;
}

.small-gray {
  font-size: 0.9em;       /* adjust size: try 0.8em or 0.85em if you want smaller */
  color: #666666;         /* medium gray */
}

.small-gray-light {
  font-size: 0.8em;
  color: #999999;
}

.small {
  font-size: 0.85em;     /* smaller font size */
  color: #555;           /* optional: softer gray */
  line-height: 1.3;      /* nice readability */
}

.very_small {
  font-size: 0.75em;     /* smaller font size */
  color: #555;           /* optional: softer gray */
  line-height: 1.3;      /* nice readability */
}

.large {
  font-size: 1.4em;     /* smaller font size */
  color: #555;           /* optional: softer gray */
  line-height: 1.3;      /* nice readability */
}

.very_large {
  font-size: 1.8em;     /* smaller font size */
  color: #555;           /* optional: softer gray */
  line-height: 1.3;      /* nice readability */
}